body {
  background-color: rgb(235, 197, 122);
}
  
h1 {
  color: rgb(252, 50, 0);
  margin-top: 20px;
}

h2 {
  margin-top: 20px;
}
  
#input-section {
  width: 350px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 5px;
}

.burger-list {
  margin-left: 15px;
}